.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: rgba(10, 10, 10,0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 1000;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color:#ff6b00 ;
}
.logo span{
    color: white;
}
.nav-links{
    display: flex;
    gap:25px;
    list-style: none;
}
.nav-links li {
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}
.nav-links li :hover{
color:#ff6b00;
}
.join-btn{
    background:linear-gradient(90deg,#ff6b00,#ff3300);
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.3s ease;
}
.join-btn:hover{
    transform: scale(1.08);
    box-shadow: 0 0 15px #ff6b00 ;
}